IMAGE_TAG=0.2.1
PUBLIC_BASE_URL=https://transit.example.com
DATABASE_HOST=postgres.example.internal
DATABASE_PORT=5432
DATABASE_USER=transit_reader
DATABASE_PASSWORD=replace-me
DATABASE_DBNAME=sub2api
DATABASE_SSLMODE=require
STATION_HOME_URL=
STATION_PRICE_URL=
STATION_MONITOR_URL=
